<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<title>Express 24 | Dashboard</title>
	<!-- Favicon -->
	<link rel="icon" href="./../assets/images/express24.jpg" />
	<script src="dashboard.js"></script>
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>

<body>
	<div id="page" class="container">
		<div id="header">
			<div id="logo">
				<img width="200" height="100" src="./../assets/images/express24.jpg" alt="" />
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#patients" (click)='setDiv("patients")' accesskey="1"
							title="">Patients</a></li>
					<li><a href="#consultations" (click)='setDiv("consultations")' accesskey="2"
							title="">Consultations</a></li>
				</ul>
			</div>
		</div>
		<div id="patients" *ngIf="patients" class="utilities">
			<div id="welcome">
				<div class="container">
					<h1>HTML5 Editable Table</h1>
					<p>Through the powers of <strong>contenteditable</strong> and some simple jQuery you can easily
						create a custom editable table. No need for a robust JavaScript library anymore these days.</p>

					<ul>
						<li>An editable table that exports a hash array. Dynamically compiles rows from headers</li>
						<li>Simple / powerful features such as add row, remove row, move row up/down.</li>
					</ul>

					<div id="table" class="table-editable">
						<span class="table-add glyphicon glyphicon-plus"></span>
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th></th>
								<th></th>
							</tr>
							<tr>
								<td contenteditable="true">Stir Fry</td>
								<td contenteditable="true">stir-fry</td>
								<td>
									<span class="table-remove glyphicon glyphicon-remove"></span>
								</td>
								<td>
									<span class="table-up glyphicon glyphicon-arrow-up"></span>
									<span class="table-down glyphicon glyphicon-arrow-down"></span>
								</td>
							</tr>
							<!-- This is our clonable table line -->
							<tr class="hide">
								<td contenteditable="true">Untitled</td>
								<td contenteditable="true">undefined</td>
								<td>
									<span class="table-remove glyphicon glyphicon-remove"></span>
								</td>
								<td>
									<span class="table-up glyphicon glyphicon-arrow-up"></span>
									<span class="table-down glyphicon glyphicon-arrow-down"></span>
								</td>
							</tr>
						</table>
					</div>

					<button id="export-btn" class="btn btn-primary">Export Data</button>
					<p id="export"></p>
				</div>
			</div>
			<div id="copyright">
				<span>&copy; Untitled. All rights reserved. | Photos by <a
						href="http://fotogrph.com/">Fotogrph</a></span>
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
			</div>
		</div>
		<div id="consultations" *ngIf="consultations" class="utilities">
			<div>
				<div class="title">
					<h2>consultations done</h2>
					<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna
						congue</span>
				</div>
				<p>This is <strong>Privy</strong>, a free, fully standards-compliant CSS template designed by <a
						href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a
						href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a
						href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty
					much free to do whatever you want with it (even use it commercially) provided you give us credit for
					it. Have fun :) </p>
				<ul class="actions">
					<li><a href="#" class="button">Etiam posuere</a></li>
				</ul>
			</div>
			<div id="copyright">
				<span>&copy; Untitled. All rights reserved. | Photos by <a
						href="http://fotogrph.com/">Fotogrph</a></span>
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
			</div>
		</div>
	</div>
</body>

</html>