<form #data="ngForm" #form="ngForm">
  <a><span class="danger-color fa fa-times float-right" (click)="close()"></span></a>
  <div class="form-group" *ngFor="let item of formBody">
    <label *ngIf="item.type!=='image' && item.type!=='checkbox' && item.visible"
      for={{item.id}}>{{item.display}}</label>
    <div class="row" *ngIf="item.type==='image'">
      <div class="col-12 container">
        <img *ngIf="pic.length>1" style="width: 100%; height: 200px;" [src]="pic" />
        <img *ngIf="pic.length<=1" style="width: 100%; height: 200px;" src="/assets/images/No_Image_Available.png" />
        <button (click)="filesInput.click()" class="btn btn-md btn-primary offset-4">Upload Picture</button>
        <input #filesInput type="file" style="display:none" accept="image/*" (change)="previewImage($event)">
        <input name="{{item.id}}" [(ngModel)]="pic" type="text" style="display:none" accept="image/*">
      </div>
    </div>
    <div *ngIf="item.type!=='image'">
      <div [class.hide]="!item.visible" *ngIf="item.type ==='number' || item.type ==='text' || item.type ==='date'">
        <input [pattern]="item.pattern" [(ngModel)]="item.value" [required]="item.required" name="{{item.id}}" type="{{item.type}}"
          class="form-control" placeholder={{item.display}} />
        <div class="danger" *ngIf="data.controls[item.id].touched && data.controls[item.id].invalid && item.required && item.value.length<=0">
          {{item.display}} is required</div>        
          <div class="danger" *ngIf="data.controls[item.id].touched && data.controls[item.id].invalid && item.required && item.value.length>0">
            {{item.display}} is invalid</div>
      </div>
      <div [class.hide]="!item.visible" *ngIf="item.type ==='select'">
        <select name="{{item.id}}" [required]="item.required" class="form-control" [(ngModel)]="item.value">
          <option value="">Select {{item.display}}</option>
          <option *ngFor="let option of item.source" value="{{option.id}}">{{option[item.sourceName]}}</option>
        </select>
      </div>
      <div [class.hide]="!item.visible" *ngIf="item.type ==='textarea'">
        <textarea pattern="item.pattern"  [(ngModel)]="item.value" [required]="item.required" name="{{item.id}}" class="form-control"
          placeholder={{item.display}}>{{item.value}}</textarea>
          <div class="danger" *ngIf="data.controls[item.id].touched && data.controls[item.id].invalid && item.required && item.value.length<=0">
            {{item.display}} is required</div>        
            <div class="danger" *ngIf="data.controls[item.id].touched && data.controls[item.id].invalid && item.required && item.value.length>0">
              {{item.display}} is invalid</div>
      </div>
      <div *ngIf="item.type ==='checkbox'" class="form-check">
        <input [(ngModel)]="item.value" name="{{item.id}}" type="checkbox" class="form-check-input" />
        <label class="form-check-label" for="{{item.id}}">{{item.display}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" [disabled]="!data.valid" (click)="onSubmit(data)"
        class="btn btn-primary center">Submit</button>
    </div>
  </div>
</form>